.btn{
    display: block;
    &--text{
        text-decoration: none;
        font-size: 1.5rem;
        color: red;
        transition: all .2s;
        text-transform: capitalize;
        
    }
    &-white{
        text-decoration: none;
        font-size: 1.5rem;
        color:  $btn-color;
        width: 50%;
        font-weight: 500;
        padding: 2rem;
        text-transform: capitalize;
        text-align: center;
        margin-left: 2rem;
        @include respond(phone){
            width: 50%;
        }

        &:hover{
            background-color: $btn-color;
            color: $color-white;
            border: none;
        }
    }
}
