$btn-color :#CC0000;// btn
$btn-color-display :#097412;// btn
$paragraph-color:#777777;// paragra
$heading-tertiary-color:#2E353E;// tertiary
$heading-sec-color:#25272b;
$heading-primary:#000000;// primary

$color-white:#FFFFFF;
$color-black:#000;
$lin-color1:rgba(3, 3, 3, 0.445);
$lin-color2:#EAEFF3;

$header-scrol-bgC:rgba(15, 15, 15, 0.705);
$grid-width:114rem;
$gutter-vertical:1rem;
$gutter-horizontal:5rem;